
@font-face{
    font-family: Game;
    src:url(game.ttf) format('truetype'),
    url(game.woff2) format('woff2'),
    url(game.woff) format('woff');
}

/* BODY STYLES */

body{
    background: rgb(190, 190, 190);
    font-size: 22px;
}

html{
    height: 100%;
}

/* HEADER STYLES */

.footer{
    color: #31317D;
    padding-left: 480%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 2000px;
}

h1{
    font-size: 40px;
    margin: 20px;
}

/* CALCULATOR CONTAINER */

#calculator{
    width: 522px;
    height: auto;
    margin: 30px;
    padding: 10px;
    margin-left: 500%;
    align-content: center;
    background-color: black;
    padding-top: 30px;
    border-top: #918E93 solid 50px;
    border-bottom: #918E93 solid 50px;
    border-left: #918E93 solid 120px;
    border-right: #918E93 solid 120px;
    border-radius: 25px;
    border-bottom-right-radius: 120px;
}

/* DISPLAY CLEAR AND DELETE STYLES */

#display{
    background-color: black;
    height: 40px;
    border: 5px black solid;
    padding-top: 5px;
    text-align: right;
    float: none;
    margin: 0 auto;
    font-size: 25px;
    color: black;
    font-family: Game, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.clear, .delete, .ce{
    height: 50px;
    background-color: black;
    border: 5px black solid;
    text-align: center;
    margin-top: 20px;
    margin-right: 16px;
    color: black;
}

#clearDelete{
    width: 100%;
}

/* NUMBER ROWS */

button{
    margin: 10px;
    width: 80px;
    height: 80px;
    border: none;
    background-color: black;
    border: 5px black solid;
    font-size: 25px;
    color: black;
    font-family: Game, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
}

button.clear{
    font-size: 0.9em;
}
button.delete{
    font-size: 0.9em;
}
button.ce{
    font-size: 0.9em;
}

button:hover{
    /*background: url(tenor.gif) 50% 50%;*/

}

.operator{
    background-color: black;
    border: 5px black solid;
    color: black;
}

#equal{
    background-color: black;
    border: 5px black solid;
    color: black;
}

button img{
    display: block;
    position: relative;
    opacity: 100%;
}

button.img{
    padding: 4%;
}

span.slider{
    margin-left: 100%;
    width: 100%;
}

p.onOff{
    margin-left: 92%;
    width: 100%;
    font-size: 0.6em;
    color: rgb(190, 190, 190);
    text-shadow: rgb(175, 175, 175) 1px 1px 0px, rgb(190, 190, 190) 1px 1px 2px, rgb(190, 190, 190) 1px 1px 5px, rgb(210, 210, 210) -1px -1px 0px;
    font-family: Lato;
}

.power{
    position: relative;
    top: 850%;
    left: 565%;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 100, 0);
    box-shadow: rgb(255, 0, 0) 0px 0px 1px, rgb(255, 0, 0) 0px 0px 2px, rgb(255, 0, 0) 0px 0px 3px, rgb(255, 0, 0) 0px 0px 4px, rgb(255, 0, 0) 0px 0px 5px, rgb(255, 0, 0) 0px 0px 6px, rgb(255, 0, 0) 0px 0px 7px, rgb(255, 0, 0) 0px 0px 8px, rgb(255, 0, 0) 0px 0px 9px, rgb(255, 0, 0) 0px 0px 10px, rgb(255, 0, 0) 0px 0px 11px, rgb(255, 0, 0) 0px 0px 12px, rgb(255, 0, 0) 0px 0px 13px, rgb(255, 0, 0) 0px 0px 14px, rgb(255, 0, 0) 0px 0px 15px, rgb(255, 0, 0) 0px 0px 16px, rgb(255, 0, 0) 0px 0px 17px, rgb(255, 0, 0) 0px 0px 18px, rgb(255, 0, 0) 0px 0px 19px, rgb(255, 0, 0) 0px 0px 20px, rgb(255, 0, 0) 0px 0px 21px, rgb(255, 0, 0) 0px 0px 22px, rgb(255, 0, 0) 0px 0px 23px, rgb(255, 0, 0) 0px 0px 24px;
    border-radius: 50%;
    -webkit-transition: background-color 2s, box-shadow 2s;
    transition: background-color 2s, box-shadow 2s;
}